.glowing_bg {
  color: white; /* Base text color */
  box-shadow: 
    0 0 5px #fff, /* Inner, brighter glow */
    0 0 10px #CDC5EA,
    0 0 15px #CDC5EA, /* Outer, colored glow */
    0 0 20px #9678EB,
    0 0 50px #6317EB;
}

.imgcard {
position: relative;
background-color: black;
height: 300px;
width: 300px;
margin: 50px;
border-radius: 25px;
overflow: hidden;
}


.imgcard img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* prevents stretching */
  border-radius: 25px;
  transition: opacity .2s;
}


.imgcard:hover img {
opacity: 0.3;
}


/* Text overlay */
.imgcard .hover-text {
position:absolute;
bottom: -100%;
left: 0;
width: 100%;
padding-bottom: 20px;
text-align: center;
color: white;
font-size: 2rem;
font-weight: 600;
transition: bottom .3s ease-out;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}


.imgcard:hover .hover-text {
bottom: 20px;
}


.cardcontainer {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
	margin-top:100px;
}

/* ----------------------------- */
/*      MOBILE RESPONSIVE        */
/* ----------------------------- */
@media (max-width: 425px) {
	
  .imgcard {
    height: 250px;
    width: 250px;
    margin: 20px;
  }

  .imgcard img {
    width: 100%; /* keeps it proportional in mobile */
  }

  .imgcard .hover-text {
    font-size: 1.3rem;
  }

  .cardcontainer {
    margin-top: 50px;
    justify-content: center;
  }
}