@view-transition {
  navigation: auto;
}
* img {
	pointer-events: none;
  -webkit-touch-callout: none;
}
body{
	color: white;
}
.hero{ 
	margin-bottom: 50px;
	width: 100vw; /* 100% of the viewport width */
  height: 50vh; /* 100% of the viewport height */
  object-fit: cover;
}
.header_text{
	font-size: 3rem;
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}

.traditional_text{
	margin-top:100px;
}

.footer {
    background-color: black;
    padding: 5vh 5vw;   /* vertical + horizontal padding */
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    max-width: 800px;   /* keeps text readable on large screens */
    margin: 0 auto;     /* centers it */
    padding-bottom: 5vh;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

/* Mobile responsiveness for screens 425px and below */
@media screen and (max-width: 500px) {
    .header_text {
        font-size: 1rem; /* smaller font size for mobile */
		margin-top: 15px;
        margin-bottom: 15px; /* adjust spacing for mobile */
        text-align: center; /* optional, ensures text stays centered */
    }
}