* {
  border-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

header{
 position: fixed;
  height: 75px;
  width: calc(100vw - 30px);
  left: 0;
  top: 0;
  margin: 15px 0px 50px 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px 0 rgba(3,3,3,0.3);
  min-width: 300px;
  border-radius: 38px;
  transition: 400ms 350ms;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 100px;
  cursor: pointer;
  margin-right: auto;
margin-left:15px;
}

.nav_links{
  display: flex;       /* puts links in a row */
  gap: 100px;           /* spacing between items */
  padding: 0;          /* remove right padding */
  margin: 0;
}

.nav_links li {
  display:inline-block;
	justify-content: center;
  padding: 0px 20px;
  color: #fff;
}

.nav_links li a {
   transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #ff7900;
}

button{
  height: 50px;
  width: 125px;
	margin-right:15px;
  border-radius: 50px;
  border: none;
  background-color: #4158D0;
  background-image: linear-gradient(247deg, #FFCC70 0%, #FF7900 46%, #C850C0 100%);
  font-family: inter;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0px -1px 15px -3px #FFFFFF;

}

button:hover{
  color: #000000;
  font-weight: 700;
  background-color: #03045e;
  background-image: linear-gradient(125deg, #FFCC70 0%, #FF7900 46%, #C850C0 100%);
}


li a {
  font-family: inter, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

nav {
  flex: 1; /* allows centering */
  display: flex;
  justify-content: center; /* centers the UL inside */
}


@media (max-width: 768px) {

  header {
	  width: 425px;
    margin: 10px;
    justify-content: center;
    
  }

  .logo {
    margin-left: 0px;
	  width: 75px;
  }

  /* Convert nav into a dropdown menu */
  .nav_links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(8px);
    padding: 25px 0;
    gap: 20px;
    border-radius: 0 0 25px 25px;
    display: none; /* hidden by default */
  }



  .nav_links li {
    padding: 10px;
  }

  button {
  
  }
}